

<!-- 
    Developer: Charitha Hegde
-->

<section class="tab" ng-controller="TabsCtrl as panel">
    <ul>
        <li ng-class="{active:panel.isSelected(1)}">
            <a href ng-click="panel.selectTab(1)">QBDT Details</a>
        </li>
        <li ng-class="{active:panel.isSelected(2)}">
            <a href ng-click="panel.selectTab(2)">Payroll Details</a>
        </li>
        <li ng-class="{active:panel.isSelected(3)}">
            <a href ng-click="panel.selectTab(3)">Payroll Services</a>
        </li>
        <li ng-class="{active:panel.isSelected(4)}">
            <a href ng-click="panel.selectTab(4)">Money Movement</a>
        </li>
    </ul>
<br />
    
    
	<!--QBDT Details-->
    
    <div ng-show="panel.isSelected(1)">
      <div class="detailcontainer">
       <div class="graphSide">
        
           <div ng-repeat="item in graphData" id="graphId{{graphData.indexOf(item)}}"                   ng-dblclick="panel.openDialog('graphId{{graphData.indexOf(item)}}')">
            <nvd3-multi-bar-chart
                data=item.data
                id="graphId1{{graphData.indexOf(item)}}"
                width="600"
                height="300"
                tooltips="true"
                showXAxis="true"
                showYAxis="true"
                showValues="true"
                showLegend="true"
                >
            <svg></svg>
            </nvd3-multi-bar-chart>
           </div>
          
       </div>
       <div class="descriptionSide">
           <h2>Statistics</h2>
           <div ng-repeat="graphDataItem in graphData">
               <h4>--{{graphDataItem.header}}--</h4>
               <div ng-repeat="item in graphDataItem.data">
                   <br/>
                   <h4>Number of {{item.key}} customer on payroll:<span>{{item.values[0][1]}}                </span> </h4>

               </div>
               <br/>
           </div>
          </div>
        </div>
    </div>
    
    
    <!--Payroll Details-->
    
    <div ng-show="panel.isSelected(2)">
       <div class="detailcontainer">
       <div class="graphSide">
        <div class="payrollDetail"  >
           <div ng-repeat="item in graphDataForPayroll" id="graphId{{graphDataForPayroll.indexOf(item)}}"                                           ng-dblclick="panel.openDialog('graphId{{graphDataForPayroll.indexOf(item)}}')">
                <nvd3-multi-bar-chart
                    data=item.data
                    id="graphId2{{graphDataForPayroll.indexOf(item)}}"
                    width="600"
                    height="300"
                    tooltips="true"
                    showXAxis="true"
                    showYAxis="true"
                    showValues="true"
                    showLegend="true"
                    >
                <svg></svg>
                </nvd3-multi-bar-chart>
               </div>

        </div>
       </div>   
    
       <div class="descriptionSide">
           <h2>Statistics</h2>
           <div ng-repeat="graphDataItem in graphDataForPayroll">
               <h4>--{{graphDataItem.header}}--</h4>
               <div ng-repeat="item in graphDataItem.data">
                   <br/>
                   <h4>Number of {{item.key}} customer on payroll:<span>{{item.values[0][1]}}                </span> </h4>

               </div>
               <br/>
           </div>
          </div>
        </div>
    </div>
    
    
    
    <!-- Payroll Service Detail -->
    
    <div ng-show="panel.isSelected(3)">
        <div class="detailcontainer">
            <div class="graphSide">
        
           <div ng-repeat="item in PayrollServiceData" id="graphId{{PayrollServiceData.indexOf(item)}}"                   ng-dblclick="panel.openDialog('graphId{{PayrollServiceData.indexOf(item)}}')">
           
               <nvd3-stacked-area-chart
                    data="item.data"
                    id="graphId3{{PayrollServiceData.indexOf(item)}}"
                    showXAxis="true"
                    showYAxis="true"
                    showLegend="true"
                    tooltips="true"
                    interactive="true"
                    useInteractiveGuideline="true"
                    toolTipContent="toolTipContentFunction()"
                    xAxisTickFormat="xAxisTickFormat()">
                <svg></svg>
                </nvd3-stacked-area-chart>
               

           </div>
          
       </div>
       <div class="descriptionSide">
           <h2>Statistics</h2>
           <div ng-repeat="graphDataItem in graphData">
               <h4>--{{graphDataItem.header}}--</h4>
               <div ng-repeat="item in graphDataItem.data">
                   <br/>
                   <h4>Number of {{item.key}} customer on payroll:<span>{{item.values[0][1]}}                </span> </h4>

               </div>
               <br/>
           </div>
          </div>
        </div>
    </div>
    
    <!--Money Movement Details-->
    
    <div ng-show="panel.isSelected(4)">
    <div class="detailcontainer">
       <div class="graphSide">
        <div class="payrollDetail"  >
          
           <div ng-repeat="item in graphDataMoneyMovement" id="graphId{{graphDataMoneyMovement.indexOf(item)}}"                   ng-dblclick="panel.openDialog('graphId{{graphDataMoneyMovement.indexOf(item)}}')">
            <nvd3-multi-bar-chart
                data=item.data
                id="graphId4{{graphDataMoneyMovement.indexOf(item)}}"
                width="600"
                height="300"
                tooltips="true"
                showXAxis="true"
                showYAxis="true"
                showValues="true"
                showLegend="true"
                >
            <svg></svg>
            </nvd3-multi-bar-chart>
           </div>
        </div>
       </div>
       <div class="descriptionSide">
           <h2>Statistics</h2>
           <div ng-repeat="graphDataItem in graphData">
               <h4>--{{graphDataItem.header}}--</h4>
               <div ng-repeat="item in graphDataItem.data">
                   <br/>
                   <h4>Number of {{item.key}} customer on payroll:<span>{{item.values[0][1]}}                </span> </h4>

               </div>
               <br/>
           </div>
          </div>
        </div>
    </div>
<br />
 
</section>